* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #232C50;
    font-family: 'Be Vietnam Pro', sans-serif;    
    font-size: 1rem; 
    padding: 0px;
    width: 100vw;
}

/* Header */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#top-menu {
    background-color: #333;
    display: none;    
    text-align: center;
    width: 100%;    
}

#top-menu ul li {
    padding: 15px 0;
}

#top-menu ul li a {
    color: black;
    font-size: 12px;
}

#boton-hamburguesa {
    background-color: white;
    border: none;    
    color: black;
    cursor: pointer;
    font-size: 40px;
    height: 44px;
    padding: 0px;    
    width: 50px;
}

#button-contact-top {
    display: none;
}

header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 56px 64px 56px;
}

/* Main */

.banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}


.banner article {
    position: relative;
    text-align: right;
    width: 400px;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;    
}

.banner-text {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right; 
}

button {
    background-color: #8B48BF;
    border: 0px;
    border-radius: 50px;
    color: white;
    height: 44px;
    width: 134px;   
}

.mid-content-bar {
    background-color: #3CDDF3;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    padding: 40px 20px;
    width: 100%;
}

.mid-content-bar h2 {
    font-size: 36px;
    width: 440px;
}

.mid-content-bar p {
    text-align: left;
    width: 440px;
}

.differences {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 60px;
}

.diff-box {
    height: 214px;
    width: 400px;
    position: relative;
}

.diff-title {
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;
    font-weight: bold;
    height: 43px;
    padding: 10px 0px 10px 87px;
}

.diff-number {
    background-color: #8B48BF;
    color: white;
    height: 43px;
    width: 69px;
    border-radius: 30px;
    padding: 12px 25px; 
    position: absolute;
    top: 0px;
    left: 0px;
}

.diff-text {
    color: #B3B2B7;
    height: 150px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    text-align: left;
}

.best-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
}

.best-title {
    color: #242E53;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 74px;
    text-align: center;
    width: 100%;
}

.best-section article {
    height: 254px;
    margin-bottom: 30px;    
    width: 400px;
    position: relative;
}

.best-section > article > div {
    height: 219px;
    background-color: #FAFAFA;
}

.best-section > article > img {
    position: absolute;
    top: 0px;
    left: 165px;
}

.best-name {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-top: 70px;
    text-align: center;
}

.best-text {
    color: #B9B9C1;
    height: 128px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    text-align: left;
    width: 390px;
}

.button-center {
    margin-bottom: 30px;
    text-align: center;
}

.bottom-content-bar {
    background-color: #3CDDF3;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 350px;
    padding: 40px 50px;
    width: 100%;
}

.bottom-content-bar h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
}

.bottom-content-bar article {
    text-align: center;
}

.button-2 {
    background-color: #232C50;
    border: 0px;
    border-radius: 50px;
    color: white;
    height: 44px;
    text-align: center;
    width: 134px;   
}

/* Footer */

footer {
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
    height: 534px;
    width: 100%;
}

footer > section > article {
    margin-bottom: 25px;
}

.rss-form {
    padding: 50px 40px 37px 50px;
}

input[type=text] {
    border-radius: 50px;  
    color: #A0A0A0; 
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    height: 44px;
    width: 308px; 
}

.button-small {
    width: 63px;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    width: 100%;
}

.bottom-menu > article > p {
    margin-bottom: 12px;
}

.social-logo-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 25px;
    width: 100%;
}

#logo-bottom {
    width: 128px;
}

.copyright {
    color: #8C8C94;
    font-size: 12px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    #boton-hamburguesa {
        display: none;
    }
    #top-menu {
        display: block;
        background-color: transparent;
        max-height: initial;
        overflow: initial;
    }

    #top-menu ul {
        display: flex;
        justify-content: center;
    }

    #top-menu ul li a {
        padding: 10px 20px;
    }
    
    #button-contact-top {
        display: block;
    }

    .mid-content-bar {
        background-color: #8B48BF;        
        height: 168px;
        padding: 40px 20px;
    }

    .differences {
        background-color: #FAFAFA;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    
    .diff-box {
        height: 214px;
        width: 500px;
        position: relative;
    }
    
    .diff-title {
        background-color: transparent;       
    }

    .bottom-content-bar {
        background-color: #8B48BF;      
        justify-content: space-between; 
        height: 224px;
    }
    
    .bottom-content-bar h2 {
        text-align: left;
        width: 493px;
    }
    
    .bottom-content-bar article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .button-2 {
        background-color: white;
        color: #8B48BF;  
    }

    .button-2:hover {
        background-color: #232C50;
        color: white; 
    }

    /* FOOTER */

    footer {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        height: 227px;
    }
    
    .footer-section-1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 30px;        
        width: 100%;
    }

    input[type=text] {
        width: 201px; 
    }
    
    .social-logo-section {
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start; 
        justify-content: space-around;
        height: 130px;
        width: 20%;
    }
    
    .social {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 25px;
        width: 100%;
    }    

    .bottom-menu {
        width: 40%;
    }

    .rss-form {
        width: 30%;
    }

    .copyright {
        background-color: #1E1E26;
        margin-top: 0px;
        padding: 0px 30px 5px 0px;
        width: 100%;
        text-align: right;
    }
}

#top-menu ul li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

button:hover {
    background-color: rgba(139, 72, 191, 0.7);  
    cursor: pointer;
}


